<div id="HeaderWrapper">
  <div id="HeaderRow" class="page-header">
    <div id="LogoBox" class="header-logo"></div>
    <div id="HeaderContentBox" class="header-content"></div>
    <div id="HeaderCmdBox" class="header-cmd"></div>
  </div>
</div>

<div id="ViewBox">
  <div id="ViewRow">
    <div id="ViewLeftCell">
      <div id="MenuBox" class="page-menu">
        <div id="UserProfileBox" class="menu-userprofile"></div>
        <div id="MenuContentBox" class="menu-content"></div>
      </div>
    </div>
    <div id="ViewRightCell">
      <div id="ContentBox" class="page-content">
        <div id="TitlePageBox" class="content-titlepage"></div>
        <div id="ContentBox" class="content-content"></div>
        <div id="FooterBox" class="page-footer"></div>
      </div>
    </div>
  </div>
</div>
